<ion-header>
  <ion-toolbar>
    <ion-title class="titulo" >Virgen de la Nube</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding">

        <div id="container1">
          <h1>MISIÓN</h1>
          <p> Fabricar y comercializar productos de aluminio y vidrio de alta calidad para satisfacer las necesidades de nuestros clientes, con servicio personalizado y eficiente, consolidando nuestro crecimiento en la ciudad."</p>
        </div>
      </ion-content>
<div>
  <img src="../assets/icon/nube.jpg" alt="">
</div>

      <ion-content>
        <div id="container">
          <h2>VISIÓN</h2>
          <P>Ser líder a nivel nacional superando las expectativas de nuestros clientes con productos innovadores de alta calidad, fomentando el desarrollo de nuestros colaboradores y el continuo crecimiento de nuestra empresa con el mejor servicio del cliente."</P>
        </div>

      </ion-content>


 
